<div class = "container-fluid main text-center">
<!--<alert type="success">hello</alert>-->
  <div class = "row top">
    <p class="headerDate">AlfaDock <span id = "date"> Data For {{myDate | date: 'fullDate'}} </span></p>
  </div>
  <div class="row row1">
    <!--CUSTOMER-->
    <div class="col-sm-6 customer">
      <h3 class="heading3">Customer Login</h3>
      <div class="login">
        <ul class="list-group" *ngFor = "let name of loginName">
          <li class="list" *ngIf = "name.value == 'LoggedIn'"><span class="dot"></span> {{name.key}} Logged In</li>
          <li class="list" *ngIf = "name.value == 'LoggedOut'"><span class="dot1"></span> {{name.key}} Logged Out</li>
        </ul>
      </div>
    </div>

<!--DWG-->
    <div class = "col-sm-3 dwg" (click)="toggleDwg()">
      <h3 class="heading">DWG</h3>

      <div *ngIf = "dwgToggle">
        <h5 class="status success">
          Completed
        </h5>
        <p class="data">{{dwgCompletedCount}}</p>
      </div>

      <div *ngIf = "!dwgToggle">
        <h5 class="status danger">
          Failed
        </h5>
        <p class="data">{{dwgFailedCount}}</p>
      </div>
      <p> Success Rate</p>
      <div id="dwgProgress">
        <div id="dwgBar">{{dwgSuccess +"%"}}</div>
      </div>
    </div>

    <!--Thumbnail-->
    <div class = "col-sm-3 thumbnail">
      <h3 class="heading">Thumbnail</h3>

      <div *ngIf = "dwgToggle">
        <h5 class="status success">
          Completed
        </h5>
        <p class="data">{{thumbnailCount}}</p>
      </div>

      <div *ngIf = "!dwgToggle">
        <h5 class="status danger">
          Failed
        </h5>
        <p class="data">{{thumbnailFailed}}</p>
      </div>
      <p> Success Rate</p>
      <div id="thumbnailProgress">
        <div id="thumbnailBar">{{thumbnailSuccess +"%"}}</div>
      </div>
    </div>
  </div>

  <div class="row row2">
    <!--Folder-->
    <div class="col-sm-3 folder">
      <h3 class="heading4">Files</h3>
      <canvas id="myChart" width="200%" height="200%"></canvas>
    </div>

    <!--FILES-->
    <div class="col-sm-3 files">
      <div class="row officeFiles">
        <div class="col-sm-12">
          <h3 class="heading2">Office File Count</h3>
          <p style="margin-top:5vh" class="data">{{officeFileCount}}</p>
        </div>
      </div>
      <div class="row socketFiles">
        <div class="col-sm-12">
          <h3 class="heading2">Socket File Count</h3>
          <p style="margin-top:5vh" class="data">{{socketFileCount}}</p>
        </div>
      </div>
    </div>
    <!--OCS-->
    <div class="col-sm-3 ocs">
      <h3 class="heading">Office Files</h3>

      <div *ngIf = "dwgToggle">
        <h5 class="status success">
          Completed
        </h5>
        <p class="data">{{office5SCount}}</p>
      </div>

      <div *ngIf = "!dwgToggle">
        <h5 class="status danger">
          Failed
        </h5>
        <p class="data">{{office5SFailedCount}}</p>
      </div>
      <p> Success Rate</p>
      <div id="officeProgress">
        <div id="officeBar">{{office5SSuccess +"%"}}</div>
      </div>
    </div>
    <!--PHD-->
    <div class="col-sm-3 phd">
      <h3 class="heading">PHD</h3>

      <div *ngIf = "phdStatus == 1">
        <h5 class="status placed">
          Placed
        </h5>
        <p class="data">{{phdStatusPlaced}}</p>
      </div>

      <div *ngIf = "phdStatus == 2">
        <h5 class="status processing">
          processing
        </h5>
        <p class="data">{{phdStatusProcessing}}</p>
      </div>

      <div *ngIf = "phdStatus == 3">
        <h5 class="status success">
          Completed
        </h5>
        <p class="data">{{phdStatusCompleted}}</p>
      </div>
    </div>
  </div> <!--Row2-->
</div> <!--Main-->
<router-outlet></router-outlet>