.main{
    background:black;
    height:100vh;
    color:white;
    /*font-family: "Coda Caption";*/
    font-family:Lucidatypewriter, monospace;
}

.heading{
    font-weight: bolder;
    margin-bottom: 6vh;
    font-size: xx-large;
    color: whitesmoke;
}

.heading3{
    font-weight: bolder;
    margin-bottom: 1vh;
    font-size: xx-large;
    color:whitesmoke;
}

.heading2{
    font-weight: bold;
    margin-bottom: 3vh;
    font-size: large;
    color: whitesmoke;
}

.heading4{
    font-weight: bolder;
    margin-bottom: 0vh;
    font-size: xx-large;
    color:whitesmoke;
}

.status{
    font-weight: bold;
    margin-bottom: 6vh;
    font-size: x-large;
}

.data{
    font-weight: bold;
    font-size: x-large;
    margin-bottom:6vh;
    color: #ffffff;
}
.row1{
    height: 45vh;
    background: black;
}

.customer{
    background: #181818;
    text-align: left;
}

.customer > li{
    margin-left: 2vw;
}

.dwg{
    background: #282828;
    cursor: pointer;
}

.thumbnail{
    background: #383838;
}

.folder{
    background: #383838;
}

.officeFiles{
    background: black;
    height: 25vh;
}

.socketFiles{
    background: #181818;
    height: 25vh;
}

.ocs{
    background:#181818;
}

.phd{
    background: #080808;
}

.row2{
    height:45vh;
}

.bottom{
    margin-top:10vh;
    color: greenyellow;
}

.danger{
    color:red;
}

.success{
    color:greenyellow;
}

#dwgProgress {
    width: 100%;
    background-color: #ffffff;
    color:black;
}
  
#dwgBar {
    width: 1%;
    height: 30px;
    background-color: greenyellow;
}

#officeProgress{
    width: 100%;
    background-color: #ffffff;
    color:black;
}

#officeBar {
    width: 1%;
    height: 30px;
    background-color: greenyellow;
}

#thumbnailProgress {
    width: 100%;
    background-color: #ffffff;
    color:black;
}
  
#thumbnailBar {
    width: 1%;
    height: 30px;
    background-color: greenyellow;
}

.placed{
    color:white;
}

.processing{
    color: orange;
}

.login{
    background: #686868;
    color:white;
    margin: 2vw;
    overflow:scroll;
    font-weight: bolder;
    font-size : x-large;
    height: 30vh;
    width: 43vw;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #73FF00;
    border-radius: 50%;
    display: inline-block;
  }

  .dot1{
    height: 20px;
    width: 20px;
    background-color: rgb(156, 156, 156);
    border-radius: 50%;
    display: inline-block;
  }
  .top{
      font-weight: bolder;
      display: inline-block;
  }

  .headerDate{
      font-size: x-large;
  }

  #date{
      margin-left:5vw;
  }